footer {
    position: relative;
    bottom: 0;
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
    width: 100%;
}

#obsahContainer{
    min-height: 89vh;
}
#footerContainer{
    min-height: 9vh;
}

table td.highlighted {
    background-color:#999;
}

footer a, footer {color: black;}
footer a:hover {color:silver;}

@media (min-width: 767px) {
    .navbar-nav .dropdown-menu .caret {
        transform: rotate(-90deg);
    }
}

.inform:hover {
     background-color: #ccc;
}
.inform2:hover {
    background-color: #ccc;
}

.fa-check {
    color: green;
}
.fa-times {
    color: red;
}